#datatable h4{
    color:blue;
    margin-left:50px;
    margin-right:330px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid;
    border-bottom-color: black;
}
#datatable table{
    width:80%;
    margin-left:50px;
}

#datatable{
    background-color:white;
    text-align: center;
}

#comp1{
    background-color:white;
    padding: 10px 10px 10px 10px;
}

body{
    background-color: lightgray;
}

.summary{
    background-color: white;
    width:800px;
    height:auto;
    margin-left:25px;
    padding: 5px 10px 10px 10px;
    display: inline-block;
}

.vizbox{
    background-color: white;
    display: inline-block;
    width:730px;
    float: right;
    margin-right:100px;
    padding: 5px 10px 10px 10px;
}

.summary a{
    color: black;
    font-size: 20px;
}

.container{
    background-color: white;
}

.container1{
    background-color: white;
}

#click{
    margin-left:16px;
}

#graph{
background-color: white;
width: 50%;
margin-left: 50px;
padding: 20px 20px 20px 20px;
align-content: center;
}

#graph img {
    width: 75%;
    height: auto;
    display: block;
    margin: 0px 0px 0px 11%;
}

#imagetext{
    color:black;
    font-size: 12px;
    display: block;
    width: 59%;
    height: auto;
    text-align: justify;
    margin: 0px 0px 0px 20%;
}

h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: left;
    border-bottom: 2px solid;
    border-bottom-color: black;
}

h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: left;
    border-bottom: 2px solid;
    border-bottom-color: black;
    margin-right:250px;
    margin-left:30px;
}

h3{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: left;
    border-bottom: 2px solid;
    border-bottom-color: black;
    margin-left:16px;
}

.picviz1{
    width:20%;
    float: left;
}

h6{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: left;
    border-bottom: 2px solid;
    border-bottom-color: black;
}

.pic{
    width:100%;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
}

img{
    width:60%;
}

.navbar-brand{
    background-color: aqua;
}

.picviz1{
    float:left;
    width:40%;
}

.comp1{
    background-color: white;
    padding: 10px 10px 10px 10px;
    width: 60%;
    margin-left: 50px;
}
